.badge-wrapper {
    display: inline-flex;
    position: relative;
}

.badge-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.badge-count {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  min-width: 20px;
  padding: 0px 6px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  color: #FFF;
}

.badge-hidden {
    display: none;
}

.top-left {
    top: 0px;
    left: 0px;
}

.top-right {
    top: 0px;
    right: 0px;
}

.bottom-left {
    bottom: 0px;
    left: 0px;
}

.bottom-right {
    bottom: 0px;
    right: 0px;
}
