@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1f22;
}

/* The height will effect the children's height  */
#__next {
  height: 100%;
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 12px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 1ex;
  }

  .scrollbar::-webkit-scrollbar-corner {
    background: #000000;
  }
}
