/* https://www.joshwcomeau.com/css/custom-css-reset/#one-box-sizing-model-2 */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
#root,
#__next {
  isolation: isolate;
}
